.git
node_modules
4bytes
!4bytes/signatures
!4bytes/with_parameter_names
trustwallet
!trustwallet/blockchains/ethereum/assets
!trustwallet/blockchains/polygon/assets
!trustwallet/blockchains/smartchain/assets
