[submodule "4bytes"]
	path = 4bytes
	url = https://github.com/ethereum-lists/4bytes.git
	ignore = dirty
[submodule "trustwallet"]
	path = trustwallet
	url = https://github.com/trustwallet/assets.git
	ignore = dirty
[submodule "topic0"]
	path = topic0
	url = https://github.com/wmitsuda/topic0.git
	ignore = dirty
[submodule "chains"]
	path = chains
	url = https://github.com/ethereum-lists/chains.git
	ignore = dirty
