on:
  push:
    branches:
      - develop
jobs:
  deploy-mainnet:
    uses: ./.github/workflows/pages-deployment.yaml
    secrets:
      apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
      accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
      projectName: ${{ secrets.CLOUDFLARE_INTEG_MAINNET_PROJECT }}
      viteConfigJson: ${{ secrets.CLOUDFLARE_INTEG_MAINNET_SETTINGS }}
  deploy-gnosis:
    uses: ./.github/workflows/pages-deployment.yaml
    secrets:
      apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
      accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
      projectName: ${{ secrets.CLOUDFLARE_INTEG_GNOSIS_PROJECT }}
      viteConfigJson: ${{ secrets.CLOUDFLARE_INTEG_GNOSIS_SETTINGS }}
  deploy-op-mainnet:
    uses: ./.github/workflows/pages-deployment.yaml
    secrets:
      apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
      accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
      projectName: ${{ secrets.CLOUDFLARE_INTEG_OP_MAINNET_PROJECT }}
      viteConfigJson: ${{ secrets.CLOUDFLARE_INTEG_OP_MAINNET_SETTINGS }}
  deploy-e3-sepolia:
    uses: ./.github/workflows/pages-deployment.yaml
    secrets:
      apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
      accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
      projectName: ${{ secrets.CLOUDFLARE_INTEG_E3_SEPOLIA_PROJECT }}
      viteConfigJson: ${{ secrets.CLOUDFLARE_INTEG_E3_SEPOLIA_SETTINGS }}
